# ==========================================
# Frontend Environment Configuration
# ==========================================

# Production API Endpoint (Separate Backend Server URL e.g. Render, Railway, VPS)
VITE_API_URL=https://e-commerce-platform-q1gb.onrender.com/api

# Backend Base URL for static file uploads
VITE_BACKEND_URL=https://e-commerce-platform-q1gb.onrender.com
