@import "tailwindcss";

:root {
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  color: #1d211c;
  background: #f1eee7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button,
input {
  font: inherit;
}
